.zedge_tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.zedge_tooltip .zedge_tooltiptext {
    visibility: hidden;
    width: 120px;
    text-align: center;

    /* Position the zedge_tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.zedge_tooltip:hover .zedge_tooltiptext {
    visibility: visible;
}
